@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background-color: rgb(19, 19, 19);
}

a {
  text-decoration: none;
  color: rgb(3, 155, 155);
}

a:hover {
  color: #e7e7e7;
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-brand {
  width: 7rem;
}

/* NAV BAR */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
}

/* the menu icon lines */
.line1 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgba(232, 255, 253, 1) 0%,
    rgb(148, 150, 255) 100%
  );
}

.line2 {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgba(232, 255, 253, 1) 0%,
    rgb(148, 150, 255) 100%
  );
}

.line3 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(
    135deg,
    rgba(232, 255, 253, 1) 0%,
    rgb(148, 150, 255) 100%
  );
}

/* The nav button */
.burger-menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(56, 93, 138, 0.5);
  padding: 1.2rem;
  border-radius: 0% 0% 0% 40%;
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #0a4e69;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: start;
  z-index: 998;
  transition: all 400ms ease-in-out;
}

/* When the nav list is engaged */
.nav-list.active {
  right: 0;
}

/* each item in the nav list gets a margin */
.nav-item {
  margin: 1.2rem 6.5rem;
}

/* links/text of the nav items */
.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #cecece;
  letter-spacing: 1.5px;
}

/* color of links on hover */
.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.toggle {
  background: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}

@keyframes navLinkAnimate {
  from {
    opacity: 0;
    transform: translate(50px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* LANDING PAGE section */

.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(31, 40, 51, 0.9) 0%,
      rgb(11, 12, 16, 0.8) 100%
    ),
    url("/images/landing-page2.png") center no-repeat;
  background-size: contain;
  position: relative;
}

/* Entire main message div block */
.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Troy Scott */
.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(21), blink 1s ease-in-out 2.5s infinite;
  width: 21ch;
  margin: auto;
}

/* Animation for Troy Scott title */
@keyframes typing {
  0% {
    width: 0ch;
    color: rgba(171, 182, 255, 1);
  }

  100% {
    width: 21ch;
  }
}

/* Animation for blinking cursor */
@keyframes blink {
  from {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }

  to {
    border-right: 4px solid rgb(194, 194, 194);
  }
}

/* "Software Developer" title. Color gradient controlled here */
.main-message h3 {
  font-size: 3.75rem;
  margin: 1rem 0;
  color: rgba(232, 255, 253, 1);
  background: linear-gradient(
    to right,
    rgba(232, 255, 253, 1) 0%,
    rgba(148, 150, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tech stack title */
.main-message p {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: none;
}

/* About Me and Projects buttons */
.intro-btn {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase; /* only these specific buttons */
}

/* ALL buttons */
.btn {
  margin: 0 9px;
  background: rgba(45, 58, 74, 1);
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  /* text-transform: none;  If used, all buttons are now exact case as typed */
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background-color: rgba(70, 116, 171);
}

.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3rem;
}

.scroll-down i:hover {
  color: rgba(171, 182, 255);
}

/* ABOUT ME section */

.about {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.about .container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.about-img img {
  height: 12rem;
  width: auto;
  border-radius: 50%;
  margin: 2rem;
  box-shadow: 0 30px 30px 0 rgba(0, 255, 255, 0.15);
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.about-text-box h2 {
  font-size: 3rem;
  font-family: "Poppins", "sans-serif";
  font-weight: 150;
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-text-box p {
  font-family: "Poppins", "sans-serif";
  font-size: 1.35rem;
  text-align: justify;
  padding: 0;
  margin: 1.45rem;
}

hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    rgba(216, 213, 247, 1) 0%,
    rgba(135, 122, 245, 1) 100%
  );
  border: 0;
  height: 1px;
}

/* PROFESSIONAL EXPERIENCE section */

.experience {
  padding: 1.5rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}

.title-heading {
  text-align: center;
  margin-bottom: 0.5rem;
}

.title-heading h2 {
  font-size: 3rem;
  font-family: "Poppins", "sans-serif";
  font-weight: 150;
  margin: 0.5rem 0 0.5rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.experience-areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}

.experience-item {
  height: 46rem;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  cursor: default;
}

.experience-item p {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.experience-item i {
  font-size: 3.5rem;
}

.experience-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(216, 213, 247, 1) 0%,
    rgba(135, 122, 245, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-btn {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase; /* only these specific buttons */
  margin-bottom: 5rem;
}

/* PROJECTS section */

.projects {
  padding: 1rem 0;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  flex: 1;
  transition: transform 0.2s;
}

.project-img:hover {
  transform: scale(1.1);
}

.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(232, 255, 253, 1) 0%,
    rgba(148, 150, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-heading p {
  font-size: 1.6rem;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.5rem;
}

/* MY WORKFLOW section */

.my-workflow {
  padding: 1rem;
}

.my-workflow h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 150;
}

.my-workflow p {
  font-size: 1.6rem;
}

/* SLIDESHOW in MY WORKFLOW * /
* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  text-align: center;
  margin: 0px auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with transparency to next buttons */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #4674ab;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* CONTACT section */

.contact {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
  padding: 1rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 150;
  margin: 0.5rem 0 0.5rem 0;
}

.contact p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  padding: 0;
  margin: 0.9rem 2rem;
}

.contact .container {
  min-height: 10vh;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.contact .container a {
  background: linear-gradient(
    to right,
    rgba(232, 255, 253, 1) 0%,
    rgba(148, 150, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact .container a:hover {
  background: linear-gradient(
    to right,
    rgba(232, 255, 253, 1) 0%,
    rgba(232, 255, 253, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-image {
  max-width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */

footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

footer a {
  margin: 0 0.5rem;
}

.footer-coded-by {
  margin: 1rem 0;
}

/* Responsive Design */

@media (max-width: 750px) {
  .main-message h3 {
    font-size: 3rem;
  }

  .about .container {
    flex-direction: column;
  }

  p {
    font-size: 1.3rem;
  }

  .title-heading {
    margin: 0;
  }

  .experience-areas {
    gap: 0;
  }

  .experience-item {
    padding: 0;
    height: 32rem;
  }

  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }

  .project-img {
    width: 24rem;
  }
}

@media (max-width: 650px) {
  .main-message {
    top: 55%;
  }

  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 27ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  .main-message p {
    font-size: 1.3rem;
  }

  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }

  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .about-text-box p {
    margin: 0 0 2.45rem;
  }

  .title-heading h2 {
    margin-bottom: 2rem;
  }

  .title-heading p {
    font-size: 1.3rem;
  }

  .experience-item {
    height: 36rem;
  }

  .data-man {
    /* subclass of .experience-item */
    margin-top: 4rem;
    height: 32rem;
  }

  .contact .container a {
    font-size: 1.4rem;
  }

  footer,
  footer p {
    font-size: 1.3rem;
  }
}
