@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* GLOBAL STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background-color: rgb(19, 19, 19);
}

a {
  text-decoration: none;
  color: rgb(3, 155, 155);
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-brand {
  width: 7rem;
}

/* NAV BAR */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
}

/* the menu icon lines */
.line1 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line2 {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line3 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(
    135deg,
    rgba(249, 105, 14, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

/* The nav button */
.burger-menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.2rem;
  border-radius: 0% 0% 0% 40%;
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #0a4e69;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: start;
  z-index: 998;
  transition: all 400ms ease-in-out;
}

/* When the nav list is engaged */
.nav-list.active {
  right: 0;
}

/* Each item in the nav list gets a margin */
.nav-item {
  margin: 1.2rem 6.5rem;
}

/* links/text of the nav items */
.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #cecece;
  letter-spacing: 1.5px;
}

/* color of links on hover */
.nav-link:hover {
  color: rgba(249, 105, 14, 1);
}

.toggle {
  background: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}

@keyframes navLinkAnimate {
  from {
    opacity: 0;
    transform: translate(50px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* LANDING PAGE */

.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(0, 64, 77, 0.9) 0%,
      rgb(0, 0, 0, 0.8) 100%
    ),
    url("/images/landing-page.png") center no-repeat;
  background-size: contain;
  position: relative;
}

/* Entire main message div block */
.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Troy Scott */
.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(21), blink 1s ease-in-out 2.5s infinite;
  width: 21ch;
  margin: auto;
}

/* Animation for Troy Scott title */
@keyframes typing {
  0% {
    width: 0ch;
    color: rgba(171, 182, 255, 1);
  }

  100% {
    width: 21ch;
  }
}

/* Animation for blinking cursor */
@keyframes blink {
  from {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }

  to {
    border-right: 4px solid rgb(194, 194, 194);
  }
}

/* "Software Developer" title. Color gradient controlled here */
.main-message h3 {
  font-size: 3.75rem;
  margin: 1rem 0;
  color: rgba(249, 105, 14, 1);
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tech stack title */
.main-message p {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: none;
}

/* Get in Touch and My Projects buttons */
.intro-btn {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase; /* only these specific buttons */
}

/* ALL buttons */
.btn {
  margin: 0 9px;
  background: rgba(3, 155, 155, 1);
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  /* text-transform: none;  If used, all buttons are now exact case as typed */
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background-color: rgba(171, 182, 255);
}

.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3rem;
}

.scroll-down i:hover {
  color: rgba(171, 182, 255);
}

/* About Me section */
.about {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.about .container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.about-img img {
  height: 12rem;
  width: auto;
  border-radius: 50%;
  margin: 2rem;
  box-shadow: 0 30px 30px 0 rgba(0, 255, 255, 0.15);
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.about-text-box h2 {
  font-size: 3rem;
  font-family: "Poppins", "sans-serif";
  font-weight: 150;
  margin-top: 30px;
  margin-bottom: 20px;
}

.about-text-box p {
  font-family: "Poppins", "sans-serif";
  font-size: 1.35rem;
  text-align: justify;
  padding: 0;
  margin: 1.45rem;
}

hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}

/* PROFESSIONAL EXPERIENCE section */

.experience {
  padding: 1.5rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}

.title-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.experience-areas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}

.experience-item {
  height: 46rem;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  cursor: default;
}

.experience-item p {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.experience-item i {
  font-size: 3.5rem;
}

.experience-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
